<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Real Time Gragh</title>

    <link href="/CSS/header.css?after" rel="stylesheet" type="text/css" >
    <style type="text/css">
    </style>

</head>

<body>
<header><h1>Real Time Gragh</h1></header>


<!--메뉴 바-->
<nav>
    <ul class="nav-container">  <!-- 순서가 없는 리스트-->
        <li class="nav-item"> <a th:href="@{/home}">main</a> </li> <!-- 각각 목록의 태그-->
        <li class="nav-item"> <a th:href="@{/sensor_01}">풍향풍속계 1-1</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_02}">풍향풍속계 1-2</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_03}">처짐계 1-1</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_04}">sensor04</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_05}">sensor05</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_06}">sensor06</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_07}">sensor07</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_08}">sensor08</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_09}">sensor09</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_10}">sensor10</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_11}">sensor11</a> </li>
        <li class="nav-item"> <a th:href="@{/sensor_12}">sensor12</a> </li>
    </ul>
</nav>
</body>
</html>